@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {

    margin: 0px;
}

.person-container {
    background-image: url("https://img.freepik.com/free-photo/flat-lay-office-elements-with-copyspace_23-2148186968.jpg?t=st=1714635966~exp=1714639566~hmac=3175be5a6fa630a075a7b1a7a2b8d61750dccb5dd167c9a810ac744afd3bd9d4&w=740");
    background-size: cover;
    height: 100vh;

}

.name {
    color: #c22f96;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    font-family: "lobster";
    padding-top: 310px;
    padding-bottom: 10px;
}

.description {
    color: #c22f96;
    font-size: 16px;
    font-weight: 500;
    text-align: center;


}

.bg-container {
    background-color: #4d91d1;
    height: 100vh;
    width: 100vw;


}

.main-heading {
    color: white;
    font-size: 39px;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
}

.calculator {
    width: 260px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-top: 45px;

}



.text-input {
    margin-top: 10px;
    margin-right: 5px;
    width: 97%;
    height: 50px;
    font-size: 30px;
    text-align: right;
    background-color: #c3e9f7;
    color: #333;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;

}

.calculator-btn {


    border: none;
    border-radius: 8px;
    background-color: #c3e9f7;
    padding: 5px;
    margin: 6px;
    font-size: 23px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    height: 50px;
    width: 50px;

    flex-grow: 1;
}

.operator {
    background-color: #425096;
    color: white;
}
